<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>nypnpubsn@ernyrznvy.arg</string>
	<key>contactName</key>
	<string>Claude</string>
	<key>description</key>
	<string>A dark but warm theme for TextMate.</string>
	<key>name</key>
	<string>Rococo tmTheme</string>
	<key>uuid</key>
	<string>6EFD4AE3-19EA-46BD-8D32-049CC9DEE83F</string>
</dict>
</plist>
